.card {
    width: 150px;
    background-color: #FFF;
    padding: 20px 30px;
    border-radius: 5px;
}

.card-img {
    height: 80px;
}

.card-title {
    color: #5532C3;
    font-size: 1.1rem;
}

.card-description {
    text-align: center;
}