body {
  background-color: #5532C3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  width: 700px;
  text-align: center;
}
